<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccountVisualizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>


  <userSettings>
    <AccountVisualizer.Properties.Settings>
      <setting name="SourceCsv" serializeAs="String">
        <value>C:\\Users\\Trikkie\\_MAPPEN_\\Jonas\\Allerlei\\Surplas\\Financien\\AccountReport.csv</value>
      </setting>
      <setting name="SourceFolders" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>C:\Users\Trikkie\_MAPPEN_\Jonas\Allerlei\Surplas\Financien\Facturen_Inkomend\Facturen\2015</string>
            <string>C:\Users\Trikkie\_MAPPEN_\Jonas\Allerlei\Surplas\Financien\Facturen_Inkomend\Facturen\2016</string>
            <string>C:\Users\Trikkie\_MAPPEN_\Jonas\Allerlei\Surplas\Financien\Facturen_Inkomend\Facturen\2017</string>
            <string>C:\Users\Trikkie\_MAPPEN_\Jonas\Allerlei\Surplas\Financien\Facturen_Inkomend\OnkostenNotas</string>
			<string>C:\Users\Trikkie\_MAPPEN_\Jonas\Allerlei\Surplas\Financien\Facturatie\2015</string>
			<string>C:\Users\Trikkie\_MAPPEN_\Jonas\Allerlei\Surplas\Financien\Facturatie\2016</string>
			<string>C:\Users\Trikkie\_MAPPEN_\Jonas\Allerlei\Surplas\Financien\Facturatie\2017</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SourceCsvBackup" serializeAs="String">
        <value>C:\\Users\\Trikkie\\Documents\\Visual Studio 2017\\Projects\\AccountAnalyser\\AccountAnalyserTest\\TestData\\ExampleOverviewData.csv</value>
      </setting>
    </AccountVisualizer.Properties.Settings>
  </userSettings>
</configuration>